<!doctype html>
<html x-ng-app="typeaheadDirectiveSample">
  <head>
  	<title>Typeahead LOV sample usage</title>
  </head>
  <body x-ng-controller="Ctrl">
  
	<ul>
	<li>Country id: <span>{{country.id}}</span>
	<li>Country name: <span>{{country.name}}</span>
	<li>Data set: <span>{{dataSet}}</span>
	</ul>
	
	<div>
		<button x-ng-click="dataSet = 'data'">A countries data set</button>
		<button x-ng-click="dataSet = 'data1'">B countries data set</button>
	</div>
	
    <div>
    	<input type="text" id="id-typeahead-test-remote_expr"
    	x-lov-typeahead="test-{{dataSet}}" 
    	x-lov-remote="%QUERY-test-{{dataSet}}.json" 
    	x-lov-limit="8"
    	x-lov-value-key="name"
    	x-lov-model="country"></input>
    </div>

	
	<script src="jquery/jquery.min.js"></script>
	<script src="typeahead.js/dist/typeahead.min.js"></script>
    <script src="http://code.angularjs.org/1.2.1/angular.min.js"></script>
    <script src="lov-typeahead.js"></script>
    <script src="typeahead-demo.js"></script>
  </body>
</html>
